  <h1>Team Name: <%=@name%></h1>

  <p>Coach: <%=@coach%> </p>
 <p>Point Guard: <%=@pg%></p>
 <p>Shooting Guard: <%=@sg%></p>
 <p>Small Forward: <%=@sf%></p>
 <p>Power Forward: <%=@pf%></p>
 <p>Center: <%=@c%></p>


 </body>
</html>
